/* This stylizes the page defaults */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    
}

body {
    background-image: url(img/winter-cmgw5mq23dasvttz.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    backdrop-filter:blur(1px) brightness(0.5);
    
}

/* This stylizes the header area */
.header {
    padding: 15px;
}
.header h1 {
    display: inline-block;
    color: white;
}

/* This stylizes the main page area */
.main {
    padding: 40px 0;
}

#app_title {
    font-family: "carilliantine", sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing:0.05em;
}

/* This stylizes the poster area and poster images */
.thumbnail {
    border: 0px;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.2);
    box-shadow:inset 0 0 20px rgba(255, 255, 255, 0.3), 4px 4px 4px rgba(0, 0, 0, 0.4);
    width:18rem;
    height:620px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.thumbnail img {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px double rgb(97, 174, 199);
    
    width:200px;
    height:300px;
    width:auto;
}

.imgBorder {
    background-image:url(img/border.png);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    width:365px;
    height:695px; 
    bottom:-35px;
    position:absolute;
    z-index:4;
}

/* This stylizes your "Poster X of Y" text */
.imageInfo {
	color: white;
	font-style: italic;
	font-size: small;
	float: right;
	padding-right: 5px;
}

/* This stylizes your Title and Rating Text */
.title,
.released {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
.released,
.rated {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.websites, a, .runtime {
    color:white;
}

/* This shapes your IMDB score area */
.score {
    background-image:url(img/star2.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    color: rgb(158, 105, 0);
    font-size: 18px;
    font-weight: 300;
    height: 100px;
    line-height: 95px;
    text-align: center;
    width: 100px;
    position: absolute;
    top: 5px;
    right: 20px;
    border-radius:50%;
    transform:rotate(20deg);
}

/* This contains your like and dislike buttons */
.social {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: -40px;
    top: -20px;
}

/* This shapes your like and dislike buttons */
.likes,
.dislikes {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 70px;
    height: 40px;
    border-radius: 50px;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}

/* This makes sure your Github Button is centered */
.footer {
    text-align: center;
    margin: 80px 0 110px;
}

/* This makes sure your Github Button text is small */
#github{
	font-size: small;
}

/* ADD YOUR LIKE AND DISLIKE HOVER/MOUSEOVER CSS CODE HERE */
.likes {
    background-color:#2a7d2a;
    color:#ffffff;
}

.likes:hover {
    background-color:#9edd87;
}

.dislikes {
    background-color:#f65a5b;
    color:#ffffff;
}

.dislikes:hover {
    background-color:#fdd6d6;
    color:#F65A5B;
}
